<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div id="formDiv" style="width: 100%; padding-left: 20px">
		<p:panel id="formPanel">
		
			<h:form id="addForm">
			<p:messages showDetail="true" />
			<p:outputLabel  value="#{userBean.message}"  style="color:Red" rendered="! #{userBean.render}"></p:outputLabel>
			<p:outputLabel  value="#{userBean.message}"  style="color:Green" rendered="#{userBean.render}"></p:outputLabel>
				<table border="0">

					<tr>
						<td><p:outputLabel value="prenom" /></td>
						<td><p:inputText value="#{userBean.prenom}"  required="true"   requiredMessage="prenom obligatoire" placeholder="prenom"/></td>
						<td><p:outputLabel value="nom" /></td>
						<td><p:inputText value="#{userBean.nom}"  required="true"  requiredMessage="nom obligatoire" placeholder="nom" /></td>
					</tr>

					<tr>
						<td><br></br> <p:outputLabel value="adresse" /></td>
						<td><br></br> <p:inputText value="#{userBean.adresse}" required="true" requiredMessage="adresse obligatoire" placeholder="adresse"/></td>
						<td><br></br> <p:outputLabel value="telephone" /></td>
						<td><br></br> <p:inputText value="#{userBean.telephone}" required="true" requiredMessage="telephone obligatoire" placeholder="telephone"/></td>
					</tr>

					<tr>
						<td><br></br> <p:outputLabel value="poste ou annee d etude" /></td>
						<td><br></br> <p:inputText value="#{userBean.poste}"  required="true" requiredMessage="poste /année  d etude obligatoire" placeholder="telephone"/></td>
						<td><br></br> <p:outputLabel value="date de naissance" /></td>
						<td><br></br> <p:inputMask id="date" value="#{userBean.dateNaissance}" mask="99/99/9999" required="true" requiredMessage="date de naissance obligatoire" placeholder="date de naissance"/></td>
					</tr>

					<tr>
						<td><br></br> <p:outputLabel value="email" /></td>
						<td><br></br> <p:inputText value="#{userBean.email}"  required="true" requiredMessage="email obligatoire" placeholder="email"/></td>
						<td><br></br> <p:outputLabel value="password" /></td>
						<td><br></br> <p:password value="#{userBean.password}"  required="true" requiredMessage="password obligatoire" placeholder="password"/></td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td>
						<br></br> 
						
					 	<p:commandButton value="ajouter/modifier" icon="ui-icon-circle-plus" action="#{userBean.doSave}" ajax="false"  />
						<p:button  value="cancel" action="#{userBean.doCancel()}" update=":formPanel" ajax="true" />
					
 
						
						</td>
					</tr>

				</table>

			</h:form>
		</p:panel>
	</div>

</ui:composition>