<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div id="list" style="width: 99%; padding-left: 10px">
		<h:form >

			<p:dataTable  value="#{sendBean.companys}" selection="#{sendBean.selectedCompany}" 
				var="company" rowKey="#{company.id}" paginator="true" rows="6"
				emptyMessage="pas d entreprise"> 

				<p:column selectionMode="multiple" style="width:3%" />
				


				<p:column headerText="nom" filterBy="#{company.id}"
					filterMatchMode="#{company.id}" rendered="false">
					<p:outputLabel value="#{company.id}" />
				</p:column>

				<p:column headerText="nom" filterBy="#{company.nom}"
					filterMatchMode="#{company.nom}">
					<p:outputLabel value="#{company.nom}" />
				</p:column>

				<p:column headerText="domaine" filterBy="#{company.domaine}"
					filterMatchMode="#{company.domaine}">
					<p:outputLabel value="#{company.domaine}" />
				</p:column>
				<p:column headerText="email" filterBy="#{company.email}"
					filterMatchMode="#{company.email}">
					<p:outputLabel value="#{company.email}" />
				</p:column>


				<p:column headerText="adresse" filterBy="#{company.adresse}"
					filterMatchMode="#{company.adresse}">
					<p:outputLabel value="#{company.adresse}" />
				</p:column>

				<p:column headerText="tel" filterBy="#{company.tel}"
					filterMatchMode="#{company.tel}">
					<p:outputLabel value="#{company.tel}" />
				</p:column>
				<p:column headerText="langue" filterBy="#{company.langue}"
					filterMatchMode="#{company.langue}">
					<p:outputLabel value="#{company.langue}" />

				</p:column>
			</p:dataTable>
			<br/>
			<h:commandButton value="confirmer la selection" action="#{sendBean.doSaveSelected()}"  class="btn btn-info"/>
		</h:form>
		<p:separator />
	</div>

</ui:composition>