<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


	<h:head>
		<f:facet name="first">
			<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
			<title>PrimeFaces Progress Bar</title>
		</f:facet>
	</h:head>
	<h:body>
	
		<h:form>
			<p:commandButton value="Start Function"
				onclick="PF('pbAjax').start();PF('startButton2').disable();"		
				action="#{progressBean.startTestFunction}" />

			<p:progressBar widgetVar="pbAjax" ajax="true"
				value="#{progressBean.progress}" labelTemplate="{value}%"
				styleClass="animated">

			</p:progressBar>
			
		</h:form>
	</h:body>

</html>