<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


	<p:panel  rendered="#{sendBean.afficher}">
	<h2>liste des entreprise selectionée</h2>
		<ui:repeat value="#{sendBean.selectedCompany}" var="company">
			<h:outputText value="#{company.nom} " style="display:grid"
				class="#{sendBean.resultClass(0)}" />
		</ui:repeat>
		</p:panel>
	
		<p:panel  rendered="#{!sendBean.afficher}">
		<h2>rapport des email</h2>
		<ui:repeat value="#{sendBean.mailStatuList}" var="mailStatus">
			<h:outputText value="#{mailStatus.company.nom} " style="display:grid"
				class="#{mailStatus.colorResult}" />
		</ui:repeat>
		</p:panel>
	
	
	<hr />
	

</ui:composition>