<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<br/>
	<h:form>
	<p:messages showDetail="true" />
	
	<p:commandButton value="envoyé les e-mail"  actionListener="#{sendBean.doSend()}"  class="btn btn-success btn-lg"  ajax="false"
	onclick="PF('pbAjax').start();PF('startButton').disable();"
	/>
	<span class="glyphicon glyphicon-send"></span>
	</h:form>
	<h:form>
		<p:growl id="growl" />		

			<p:progressBar widgetVar="pbAjax" ajax="true"
				value="#{sendBean.progress}" labelTemplate="{value}%"
				styleClass="animated">
				<p:ajax event="complete" listener="#{sendBean.onComplete}"
					update="growl" oncomplete="startButton.enable()" />
			</p:progressBar>
			
	</h:form>
	



</ui:composition>