<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



	<div>
	<h:form>
	<p:commandButton value="show" action="#{testBean.show()}" ajax="false"></p:commandButton>

	
	</h:form>
	
		<p:outputLabel  value ="hello man" rendered="#{testBean.render1}" > </p:outputLabel>
	
	</div>

</ui:composition>