<!DOCTYPE html>
<html lang="en"

  	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>


    <title>CrossMail | </title>

    <!-- Bootstrap core CSS -->

    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet"/>

    <link href="../../resources/fonts/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../../resources/css/animate.min.css" rel="stylesheet"/>

    <!-- Custom styling plus plugins -->
    <h:outputStylesheet  name="resources/css/custom.css" /> 
    <link href="../../resources/css/custom.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../../css/maps/jquery-jvectormap-2.0.1.css"/>
    <link href="../../css/resources/icheck/flat/green.css" rel="stylesheet"/>
    <link href="../../css/resources/floatexamples.css" rel="stylesheet"/>

    <script src="../../resources/js/jquery.min.js"></script>


</h:head>


<body class="nav-md">

<div class="container body">


    <div class="main_container">

        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <!-- menu prile quick info -->
                <div class="profile">
                    <div class="profile_pic">
                        <img src="../../resources/images/email.png" alt="..." class="img-circle profile_img"/>
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>

                        <h2><p:outputLabel value="#{homeBean.user.nom} #{homeBean.user.prenom}"/></h2>
                    </div>
                </div>
                <!-- /menu prile quick info -->

                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                    <div class="menu_section">
                        <h3>General</h3>

                        <div class="nav side-menu">
                            <li><a href="../home/index.xhtml"><i class="fa fa-home"></i> Home </a></li>
                            <li><a href="../user/index.xhtml"><i class="fa fa-edit"></i> mes info </a></li>
                            <li><a href="../cv/index.xhtml"><i class="fa fa-file-pdf-o"></i> cv et lettre </a> </li>
                            <li><a href="../entreprise/index.xhtml"><i class="fa fa-building-o"></i> entreprise </a> </li>
                             <li><a href="../corpmail/index.xhtml"><i class="fa fa-envelope"></i> corp mail </a></li>
                            <li><a href="../mail/index.xhtml"><i class="  glyphicon glyphicon-send"></i> envoie mail </a></li>
                            <li><a href="../setting/index.xhtml"><i class=" glyphicon glyphicon-cog"></i> parametre </a></li>
                        </div>
                    </div>


                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->

                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">

            <div class="nav_menu">
                <nav class="" role="navigation">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                </nav>
            </div>

        </div>
        <!-- /top navigation -->


        <!-- page content -->
        <div class="right_col" role="main">

            <br/>

            <div class="">

                <div class="row top_tiles">
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-bank"></i>
                            </div>
                            <div class="count">179</div>

                            <h3>entreprises:</h3>

                            <p></p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-clock-o"></i>
                            </div>
                            <div class="count">179</div>

                            <h3>temps d'envoie</h3>

                            <p></p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-comments-o"></i>
                            </div>
                            <div class="count">179</div>

                            <h3>tout les mail</h3>

                            <p></p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-check-square-o"></i>
                            </div>
                            <div class="count">179</div>

                            <h3>envoyé avec succes</h3>

                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            
                            <ui:insert name="content"  />
                        </div>
                    </div>
                </div>

            </div>

            <!-- footer content -->
            <footer>
                <div class="">
                    <p class="pull-right">CrossMail mass e-mail sender. |
                        <span class="lead"> <i class="fa fa-paw"></i> Malik Badreddine!</span>
                    </p>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->

        </div>
        <!-- /page content -->
    </div>
</div>


<div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
</div>

<script src="../../resources/js/bootstrap.min.js"></script>
<script src="../../resources/js/nicescroll/jquery.nicescroll.min.js"></script>

<!-- chart js -->
<script src="js/chartjs/chart.min.js"></script>
<!-- bootstrap progress js -->
<script src="../../resources/js/progressbar/bootstrap-progressbar.min.js"></script>
<!-- icheck -->
<script src="../../resources/js/icheck/icheck.min.js"></script>
<!-- daterangepicker -->
<script type="text/javascript" src="../../resources/js/moment.min2.js"></script>
<script type="text/javascript" src="../../resources/js/datepicker/daterangepicker.js"></script>
<!-- sparkline -->
<script src="../../resources/js/sparkline/jquery.sparkline.min.js"></script>

<script src="../../resources/js/custom.js"></script>


<script type="text/javascript" src="../../resources/js/flot/jquery.flot.js"></script>
<script type="text/javascript" src="../../resources/js/flot/jquery.flot.pie.js"></script>
<script type="text/javascript" src="../../resources/js/flot/jquery.flot.orderBars.js"></script>
<script type="text/javascript" src="../../resources/js/flot/jquery.flot.time.min.js"></script>
<script type="text/javascript" src="../../resources/js/flot/date.js"></script>
<script type="text/javascript" src="../../resources/js/flot/jquery.flot.spline.js"></script>
<script type="text/javascript" src="../../resources/js/flot/jquery.flot.stack.js"></script>
<script type="text/javascript" src="../../resources/js/flot/curvedLines.js"></script>
<script type="text/javascript" src="../../resources/js/flot/jquery.flot.resize.js"></script>


</body>

</html>