<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"              
                xmlns:p="http://primefaces.org/ui"
                >			
                <h1>faite la saisie du corp d un e-mail</h1>
                <h:form>
                <h:panelGrid>
                <h:panelGrid columns="2" style="margin-bottom:10px"
						cellpadding="5">
						<p:outputLabel for="cvLangue" value="langue :  " />
						<p:selectOneRadio id="cvLangue" 
							value="#{corpMailBean.langue}">
							<f:selectItem itemLabel="Français" itemValue="fr" required="true"/>
							<f:selectItem itemLabel="Anglais" itemValue="an" />
						</p:selectOneRadio>
					</h:panelGrid>
					<br/>
					<p:inputText value="#{corpMailBean.objetMail}" style="width:80%" placeholder="objet du mail"></p:inputText>
					<br/>
					 <p:inputTextarea   value="#{corpMailBean.conteuMail}" placeholder="corp du mail" rows="15"  cols="400"  queryDelay="750" minQueryLength="4" autoResize="true" style="width:80%"  required="true" requiredMessage="le corp de l email obligatoire" />
                </h:panelGrid>
                <p:commandButton value="ajouter/modifier" icon="ui-icon-circle-plus" action="#{corpMailBean.doSave}" ajax="false"  />
                </h:form>
			
		<p:outputPanel value="#{corpMailBean.show()}"></p:outputPanel>
				
						
</ui:composition>