<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="listCv">

		<p:dataTable id="tabMail" value="#{corpMailBean.show()}" var="corpMail" 
			 selectionMode="single" selection="#{corpMailBean.selectedCorpMail}" rowKey="#{corpMail.id}" 
			emptyMessage="liste vide" rows="2" 	   >

			<p:column headerText="#" filterBy="" filterMatchMode="" rendered="false">
				<p:outputLabel value="#{corpMail.id}"  />
			</p:column>
			
			<p:column headerText="langue" filterBy="" filterMatchMode="" style="width:4%">
				<p:outputLabel value="#{corpMail.langue}" />
			</p:column>

			<p:column headerText="objet" filterBy="" filterMatchMode="">
				<p:outputLabel value="#{corpMail.objet}" />
			</p:column>

			<p:column headerText="corp" filterBy="" filterMatchMode="">
				<p:outputLabel value="#{corpMail.corp}" />
			</p:column>



		</p:dataTable>
	<!-- <p:button value="delete" action="#{corpMailBean.doDelete()}" ajax="true"  /> -->
	</h:form>

	<hr />

</ui:composition>