<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:t="http://myfaces.apache.org/tomahawk">

	<h:form enctype="multipart/form-data">

		<p:messages showDetail="true" />

		<table style="width: 100%">
			<tr>
			
				<td><p:fileUpload value="#{fileUploadController.file}"  class="btn btn-primary"
						mode="simple" allowTypes="/(\.|\/)(pdf)$/" disabled="false" required="true" /> <br />
				</td>
				
				<td>
				<h:panelGrid columns="2" style="margin-bottom:10px"
						cellpadding="5">
						<p:outputLabel for="cvLangue" value="langue du cv:  " />
						<p:selectOneRadio id="cvLangue" 
							value="#{fileUploadController.cvLangue}">
							<f:selectItem itemLabel="Français" itemValue="fr" required="true"/>
							<f:selectItem itemLabel="Anglais" itemValue="an" />
						</p:selectOneRadio>
					</h:panelGrid>
					</td>
				<td>
				<p:commandButton value="upload"  action="#{fileUploadController.upload}"  ajax="false" />
				
				
				</td>
			</tr>
		</table>



	</h:form>



</ui:composition>