<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="listCv">

		<p:dataTable id="tabMovies" value="#{fileUploadController.show()}" var="cv"
			rows="2" selectionMode="single" rowKey="#{cv.id}"
			selection="#{documentBean.cv}" emptyMessage="no Cv found">




			<p:column headerText="#" filterBy="" filterMatchMode=""
				rendered="false">
				<p:outputLabel value="#cv.id}" />
			</p:column>

			<p:column headerText="langue" filterBy="" filterMatchMode="" width="5%">
				<p:outputLabel value="#{cv.langue}" />
			</p:column>


			<p:column headerText="titre" filterBy="" filterMatchMode="">
				<p:outputLabel value="#{cv.titre}" />
			</p:column>


			<p:column headerText="path" filterBy="" filterMatchMode="">
				<p:outputLabel value="#{cv.path}" />
			</p:column>

		</p:dataTable>

	</h:form>

<hr/>

</ui:composition>