<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form>
		<h3 style="margin-top: 0">lettre de motivation</h3>

		<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
			<p:outputLabel for="lettreLangue" value="langue de la lettre:  " />
			<p:selectOneRadio id="lettreLangue"
				value="#{documentBean.langueLettre}">
				<f:selectItem itemLabel="Français" itemValue="fr" required="true" />
				<f:selectItem itemLabel="Anglais" itemValue="an" />
			</p:selectOneRadio>
		</h:panelGrid>
		<h:panelGrid columns="3" style="margin-bottom:10px" cellpadding="15px"
			cellspacing="10">
			<p:outputLabel for="lettreDomaine" value="Domaine de la lettre:  " />
			<p:selectOneRadio id="lettreDomaine"
				value="#{documentBean.domaineLettre}">
				<f:selectItem itemLabel="Java/JEE" itemValue="java" required="true" />
				<f:selectItem itemLabel="BigData" itemValue="bigdata" />
				<f:selectItem itemLabel="Business intelligence" itemValue="bi" />
			</p:selectOneRadio>
		</h:panelGrid>




		<p>rediger votre lettre de motivation ,au lieu d ecrire le nom de
			l entreprise ecrivez 4 diez #### pour qu il sera remplacé
			automatiquement</p>

		<p:inputTextarea rows="15" cols="60"
			value="#{documentBean.contenuLettre}" queryDelay="750"
			minQueryLength="4" autoResize="true" style="width:80%"
			required="true" requiredMessage="le corp de la lettre obligatoire" />
		<br></br>
		<br></br>

		<p:commandButton value="add" icon="ui-icon-circle-plus"
			action="#{documentBean.doSaveLettre()}" ajax="true" update="@all" />

	</h:form>
	<hr />
</ui:composition>