<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"              
                xmlns:p="http://primefaces.org/ui"
                >			
			
				<div id="list" style="width:99%; padding-left: 10px" >
				<h:form id="listForm">			
				
				<p:dataTable id="tabLettre" value="#{documentBean.showAllLettre()}" var="lettre" 
							paginator="true"  rows="2"
							selectionMode="single"  rowKey="#{lettre.id}" selection="#{documentBean.selectedLettre}" 
							emptyMessage="pas de lettre" 
							>
							
		
				
				

				<p:column headerText="#" filterBy="" filterMatchMode="" rendered="false">
					<p:outputLabel value="#{lettre.id}"/>
				</p:column>

				
				<p:column headerText="domaine" filterBy="" filterMatchMode=""  width="5%">
					<p:outputLabel value="#{lettre.domaine}" />
				</p:column>
				
				<p:column headerText="langue" filterBy="" filterMatchMode="" width="5%">
					<p:outputLabel value="#{lettre.langue}"/>
				</p:column>
				
				<p:column headerText="contenu" filterBy="" filterMatchMode="">
					<p:outputLabel value="#{lettre.contenu}"/>
				</p:column>

				
				</p:dataTable>
				<br/>
				<h:panelGrid columns="2">
	
					<p:commandButton value="delete" action="#{documentBean.doDelete()}" ajax="false" update="@all"/>
					
				
				</h:panelGrid>
				
				
				</h:form>
				
					<p:separator/>
				</div>
				
						
</ui:composition>