<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div id="formDiv" style="width: 99%; padding-left: 10px">
		<h:form id="addForm">


			<p:panelGrid columns="7" style="width:100%">

				<p:inputText value="#{companyBean.nom}" placeholder="entrer le nom"
					style="width:100%" required="true" />

				<p:inputText value="#{companyBean.domain}" style="width:100%"
					placeholder="entrer le domaine" required="true" />

				<p:inputText value="#{companyBean.email}" style="width:100%"
					placeholder="entrer l'email" required="true"
					validatorMessage="Invalid email format">
					<f:validateRegex
						pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
				</p:inputText>

				<p:inputText value="#{companyBean.adresse}" style="width:100%"
					placeholder="entrer l'adresse" />

				<p:inputText value="#{companyBean.tel}" placeholder="entrer tel"
					style="width:100%" />
					<h:panelGrid style="width:100%" >
					
						<p:selectOneRadio id="cvLangue" 
							value="#{companyBean.langue}">
							<f:selectItem itemLabel="Fr" itemValue="fr" required="true"/><br/>
							<f:selectItem itemLabel="An" itemValue="an" />
						</p:selectOneRadio>
					</h:panelGrid>

				<p:commandButton icon="ui-icon-circle-plus"
					action="#{companyBean.doSave}" ajax="false"  style="width:100%"/>
					
			</p:panelGrid>
			<br/>
<p:messages showDetail="true" />
		</h:form>
	</div>



</ui:composition>