<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"              
                xmlns:p="http://primefaces.org/ui"
                template="/page/template/template.xhtml">			
			<ui:define name="content">
				<div>
				
				<ui:include src="/page/entreprise/list.xhtml"></ui:include>
				<ui:include src="/page/entreprise/form.xhtml"></ui:include>
					
				</div>
			</ui:define>			
</ui:composition>