<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div id="list" style="width: 99%; padding-left: 10px">
		<h:form id="listForm">

			<p:dataTable id="tabCompany" value="#{companyBean.getAll()}"
				scrollable="true" scrollHeight="400" var="company" paginator="true"
				row="3" selectionMode="single" rowKey="#{company.id}"
				selection="#{companyBean.selectedCompany}"
				emptyMessage="pas d entreprise">


				<p:column headerText="nom" filterBy="#{company.id}"
					filterMatchMode="#{company.id}" rendered="false">
					<p:outputLabel value="#{company.id}" />
				</p:column>

				<p:column headerText="nom" filterBy="#{company.nom}"
					filterMatchMode="#{company.nom}">
					<p:outputLabel value="#{company.nom}" />
				</p:column>

				<p:column headerText="domaine" filterBy="#{company.domaine}"
					filterMatchMode="#{company.domaine}">
					<p:outputLabel value="#{company.domaine}" />
				</p:column>
				<p:column headerText="email" filterBy="#{company.email}"
					filterMatchMode="#{company.email}">
					<p:outputLabel value="#{company.email}" />
				</p:column>


				<p:column headerText="adresse" filterBy="#{company.adresse}"
					filterMatchMode="#{company.adresse}">
					<p:outputLabel value="#{company.adresse}" />
				</p:column>

				<p:column headerText="tel" filterBy="#{company.tel}"
					filterMatchMode="#{company.tel}">
					<p:outputLabel value="#{company.tel}" />
				</p:column>
				<p:column headerText="langue" filterBy="#{company.langue}" style="width:13%"
					filterMatchMode="#{company.langue}">
					<p:outputLabel value="#{company.langue}" />

				</p:column>

				<p:column style="width:3%">
					<p:commandButton icon="ui-icon-close" action="#{companyBean.doDelete()}" update="tabCompany" ajax="false" />
				</p:column>

			</p:dataTable>
		</h:form>

	</div>
</ui:composition>