<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"              
                xmlns:p="http://primefaces.org/ui"
                template="/page/template/template.xhtml">			
			<ui:define name="content">
				<div>
					<h1> Bienvenue  a CrossMail</h1>
					<p>CrossMail est un logiciel d'envoie massif d'e-mail , pratique pour ceux qui cherchent un stage ou un nouvel emploi</p>
					<h4>1- <span>mes info:</span>faite la saisie de vos information personnel dans la section info</h4>
					<h4>2- <span>cv et lettre</span>il faut joindre un cv en pdf et rediger une lettre de motivation </h4>
					<h4>3- <span>entreprise</span> la liste de tout les entreprise et vus pouvez ajouter d autres</h4>
					<h4>4- <span>mail</span> lancer l envoie des mail </h4>
					
				</div>
			</ui:define>			
</ui:composition>